<!-- s -->

<div class="center">
    <section id="content">
        <h2 class="subheader">Datos Personales</h2>  

        <div class="loading" *ngIf="!persona ">
            Cargando...
        </div>
        <div class="loading" *ngIf="persona && persona == []  ">
            No hay Articulos para mostrar, intentalo mas tarde.
        </div>
        <div id="articles" *ngIf="persona">
            <article class="article-item">
                <div class="image-wrap">
                    <img src="{{url + 'get-image' + '/' + persona.image}}" alt="{{persona.nombres}}" *ngIf="persona.image">
                    <img src="/assets/images/default.png" alt="{{persona.nombres}}" *ngIf="!persona.image">
                </div>
                <div >
                <h2>Nombres y Apellidos: {{persona.nombres}} {{persona.apellidos}}</h2>
                <ul>Teléfono: {{persona.telefono}}</ul>
                <ul>email: {{persona.email}}</ul>
                <ul>Direccion: {{persona.direccion}}</ul>
                <ul>Rut: {{persona.rut}}</ul>
                <ul class="datospersonales">Conocimientos: {{persona.informacion}}</ul>
                <ul class="datospersonales">Habilidades: {{persona.habilidades}}</ul>
                <ul class="datospersonales">Actitudes: {{persona.actitudes}}</ul>
                </div>   
                
                
                <div class="crearfix"></div>
            </article>
            
        
        </div>
    </section>
    <app-sidebar></app-sidebar>
</div>