<div class="container-fluid d-flex flex-column justify-content-center h-100 align-items-center pt-5 fondo-2 pb-5">
        <div class="pt-5 justify-content-center">
            <h1 class="pt-5 text-center">Habilidades y Destresas</h1>
            <ul class="text-left">
              
              <li>Desarrollo de Aplicaciones en Visual Basic 6, Visual.net.</li>
              <li>Frontend en Angular, javascrip, node.js, typescript y html5/ccs3/sass/less</li>
              <li>Backend con Php.</li>
              <li>Diseño de Bases de Datos en SQL Server, Mysql.</li>
              <li>Instalación y administración de servidores Sql Server Mysql, Instalación de Servidores Web Apache. Con php y Servidor Ftp para Intranet.</li>
              <li>Mantenimiento y administración de Páginas Web con Wordpress y Joomla (Gestor de Contenidos para páginas Web).</li>
              <li>Mantenimiento de equipos de computación e instalación de hardware externos para Pc. Instalación de Cliente de Antivirus.</li>
              <li>Instalación de Puntos de Red y Cableado Estructurado, Instalaciones de Cableados Eléctrico de Baja Tensión (corriente débil). instalación y configuración de redes alámbricas y wifi, instalación de redes de fibra óptica</li>
              <li>Idiomas: español (Nativo), inglés (Técnico).</li>
            </ul>
            <p class="pb-1 text-center ">Técnico Superior en Informática con experiencia en instalación de software, instalación y configuración de redes alámbricas y wifi, instalación y configuración de servidores, web, proxy, ftp, de Bases de Datos en Linux y Windows, Desarrollo de Sistemas en Visual Basic 6, Visual Basic.net, administración de bases de datos SQL Server y Mysql. Proactivo, dinámico, con alto interés en aprender y adquirir nuevos conocimientos, con nivel del idioma inglés medio.</p>
            </div>
            <div class="text-center">
              <a class="btn btn-danger " routerLink="/home">Volver</a>
            </div>
            
          </div>
      
      