<app-slider [nombre]=homeText></app-slider>

<div class="center">
    <section id="content" class="fondo-2">
        <h2 class="subheader">{{title}}</h2>
        <p class="datospersonales">{{intro}}</p>
        <h2 class="subheader">Backend utilizado en este proyecto</h2>
        <li class="website"><i class="fas fa-globe"></i><a href="https://backend-cv.herokuapp.com/api/trabajos" target="_blank"> https://backend-cv.herokuapp.com/api/trabajos</a></li>

        <li class="website"><i class="fas fa-globe"></i><a href="https://backend-cv.herokuapp.com/api/estudios" target="_blank"> https://backend-cv.herokuapp.com/api/estudios</a></li>

        <li class="website"><i class="fas fa-globe"></i><a href="https://backend-cv.herokuapp.com/api/cvspersona" target="_blank"> https://backend-cv.herokuapp.com/api/cvspersona</a></li>

        <app-skill></app-skill>
    </section>
    
    <app-sidebar></app-sidebar>

</div>