

<div class="center upper-row">
    <section id="content">
        
        <article class=" article-item " *ngIf="estudio" >
                        
            <div class="image-wrap">
                <img src="{{estudio.image}}" alt="{{estudio.instituto}}" *ngIf="estudio.image" >
                <img src="/assets/images/default.png" alt="{{estudio.instituto}}" *ngIf="!estudio.image" >
            </div>
            <h1 class="subheader">{{estudio.instituto}}</h1>
            <span class="date">
                {{estudio.year}}
            </span>
            <p>
                {{estudio.lugar}}
            </p>
            <p>
                {{estudio.grado_obtenido}}
            </p>
            
            <a [routerLink]="['/blog/estudios']" routerLinkActive="active" class="btn btn-success">Volver</a>

            <div class="crearfix"></div>
        </article>
        
        
    </section>
    <app-sidebar></app-sidebar>
</div>