<div class="center">
    <section id="content">
        
        <article class=" article-item " *ngIf="trabajo" >
                        
            <div class="image-wrap">
                <img src="{{trabajo.image}}" alt="{{trabajo.empresa}}" *ngIf="trabajo.image" >
                <img src="/assets/images/default.png" alt="{{trabajo.empresa}}" *ngIf="!trabajo.image" >
            </div>
            <h1 class="subheader">{{trabajo.empresa}}</h1>
            <!-- <span class="date">
                {{article.date | amLocale: 'es' | amTimeAgo}}
            </span> -->
            <p> Cargo: {{trabajo.cargo}}</p>
            <p> Area: {{trabajo.area}}</p>
            <p> Duracion: {{trabajo.duracion}}</p>
            <p> Jefe Inmediato: {{trabajo.jefe}}</p>
            <p> Telefono: {{trabajo.telefono}}</p>
            <p> Responsabilidades: {{trabajo.responsabilidad}}</p>
            <p> Logros: {{trabajo.logros}}</p>



            <a [routerLink]="['/blog/trabajos']" routerLinkActive="active" class="btn btn-success btn-none">Volver</a>
            

            <div class="crearfix"></div>
        </article>
        
        
    </section>
    <app-sidebar></app-sidebar>
</div>
