<div class="loading" *ngIf="!trabajos ">
    Cargando...
</div>
<div class="loading" *ngIf="trabajos ">
    No hay Articulos para mostrar, intentalo mas tarde.
</div>
<div id="articles" *ngIf="trabajos">
    <article class="article-item" *ngFor="let trabajo of trabajos">
        <div class="image-wrap">
            <img src="{{trabajo.image}}" alt="{{trabajo.instituto}}" *ngIf="trabajo.image">
            <img src="/assets/images/default.png" alt="{{trabajo.instituto}}" *ngIf="!trabajo.image">
        </div>
        <h2>{{trabajo.empresa}}</h2>
        <span class="date">
            {{trabajo.duracion}}
        </span>
        <a [routerLink]="['/trabajo', trabajo._id]">Leer mas</a>
        <div class="crearfix"></div>
    </article>
    

</div>