<!-- <aside id="sidebar">
    <div id="nav-blog" class="sidebar-item">
        <h2>Puedes hacer esto</h2>
        <a [routerLink]="['/blog/crear']"  class="btn btn-success">Crear Articulo</a>
    </div>
    <div id="search" class="sidebar-item">
        <h2>Buscador</h2>
        <p>Encuentra el articulo que buscas</p>
        <form #searchForm="ngForm" (ngSubmit)="goSearch()">
            <input type="text" name="search" [(ngModel)]="searchString" />
            <input type="submit" name="submit" value="Buscar" class="btn">
        </form>
    </div>
</aside> -->

    <div class="sidebar-wrapper">
<div class="profile-container">
    <img class="profile" src="../../../assets/images/profile.png" alt="" />
    <h1 class="name">Jose G. Mendoza</h1>
    <h3 class="tagline">Full Stack Developer</h3>
</div><!--//profile-container-->

<div class="contact-container container-block justify-content-center">
    <ul class="list-unstyled contact-list">
        <li class="email"><i class="fas fa-envelope"></i><a href="mailto: josegmen2za@gmail.com"> josegmen2za@gmail.com</a></li>
        <li class="phone"><i class="fas fa-phone"></i><a href="tel+569 9261 0920">+569 58681789</a></li>
        <li class="website"><i class="fas fa-globe"></i><a href="https://men2za.000webhostapp.com/" target="_blank"> https://men2za.000webhostapp.com/</a></li>
        <li class="linkedin"><i class="fab fa-linkedin-in"></i><a href="linkedin.com/in/jose-gregorio-mendoza-rodriguez-608564135" target="_blank"> linkedin.com/in/jose-gregorio-mendoza-rodriguez-608564135</a></li>
        <li class="github"><i class="fab fa-github"></i><a href="https://github.com/josegmen2za" target="_blank"> https://github.com/josegmen2za</a></li>
        <li class="twitter"><i class="fab fa-twitter"></i><a href="https://www.twitter.com/josegmen2za/?hl=es-la" target="_blank"> @josegmen2za</a></li>
        <li class="instagram"><i class="fab fa-instagram"></i><a href="https://www.instagram.com/josegmen2za/?hl=es-la" target="_blank"> @josegmen2za</a></li>
    </ul>
</div><!--//contact-container-->

</div>

<div class="clearfix"></div>
