<!-- <aside id="sidebar">
    <div id="nav-blog" class="sidebar-item">
        <h2>Puedes hacer esto</h2>
        <a [routerLink]="['/blog/crear']"  class="btn btn-success">Crear Articulo</a>
    </div>
    <div id="search" class="sidebar-item">
        <h2>Buscador</h2>
        <p>Encuentra el articulo que buscas</p>
        <form #searchForm="ngForm" (ngSubmit)="goSearch()">
            <input type="text" name="search" [(ngModel)]="searchString" />
            <input type="submit" name="submit" value="Buscar" class="btn">
        </form>
    </div>
</aside>
<div class="clearfix"></div> -->
<div class="media flex-column flex-md-row">
    <img class="mr-3 img-fluid picture mx-auto" src="/../../assets/img/profile.jpg" alt="">
    <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
        <div class="primary-info">
            <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">Jose G. Mendoza</h1>
            <div class="title mb-3">Full Stack Developer</div>
            <ul class="list-unstyled">
                <li class="mb-2"><a href="#"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>josegmen2za@hotmail.com</a></li>
                <li><a href="#"><i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i>+569 9261 0920</a></li>
            </ul>
        </div><!--//primary-info-->
        <div class="secondary-info ml-md-auto mt-2">
            <ul class="resume-social list-unstyled">
                <li class="mb-3"><a href="https://www.linkedin.com/in/jose-gregorio-mendoza-rodriguez-608564135?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BMWmahtbVSwqobvenwnKIVA%3D%3D"><span class="fa-container text-center mr-2"><i class="fab fa-linkedin-in fa-fw"></i></span>linkedin.com/in/jose-gregorio-mendoza-rodriguez-608564135</a></li>
                <li class="mb-3"><a href="https://github.com/josegmen2za"><span class="fa-container text-center mr-2"><i class="fab fa-github-alt fa-fw"></i></span>https://github.com/josegmen2za</a></li>
                <li class="mb-3"><a href="https://codepen.io/josegmen2za"><span class="fa-container text-center mr-2"><i class="fab fa-codepen fa-fw"></i></span>codepen.io/josemen2za/</a></li>
                <li class="mb-3"><a href="https://men2za.000webhostapp.com/"><span class="fa-container text-center mr-2"><i class="fas fa-globe"></i></span>https://men2za.000webhostapp.com/</a></li>
            </ul>
        </div><!--//secondary-info-->
        
    </div><!--//media-body-->
</div><!--//media-->
<div class="clearfix"></div>